SUPABASE_URL="https://snekeyyhtxelrmybmgpk.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_X9bKQLn5yNimKhegb3rhpA_NYa4bEBM"
ADMIN_BOOTSTRAP_USERNAME="duhaabdulrahman"
ADMIN_BOOTSTRAP_PASSCODE="1985@Akubahni102985102985"
NODE_ENV="development"